{% extends '../base.html' %}
{% load static %}
{% block content %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
    .search {
        position: relative;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    }
    .search input {
        height: 50px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
        border-radius: 17px;
    }
    .search input:focus {
        box-shadow: none;
        border: 2px solid rgb(35, 35, 245);
        border-radius: 17px;
    }
    .search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px;
    }
    .search button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 40px;
        width: 80px;
        background: rgb(60, 60, 242);
        border-radius: 17px;
    }
</style>
<br><br>
<section class="container-fluid d-flex align-items-center justify-content-between">
    <div class="container">
        <center>
            <h1>Encuentra Tu Servicio</h1>
        </center>
        <div style="padding: 14px;" class="container">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="search">
                        <form action="{% url 'search' %}" method="post">
                            {% csrf_token %}
                            <input name="search" type="text" class="form-control" placeholder="Busca un Servicio">
                            <button value="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Servicios</a>
            <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">categories</a>
        </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <br>
                <center>
                <div class="row">
                    {% for post in posts %}
                        <div class="col">
                            <div class="card" style="width: 20rem;">
                                <center>
                                    <img style="width: 50%; height: auto;" src="{{ post.image.url }}" class="card-img-top" alt="...">
                                </center>
                                <div class="card-body">
                                    <a href="{% url 'post_detail' post.pk %}">
                                        <div  class="d-flex" style="justify-content: space-between">
                                            <div style="text-align: left;">
                                                <h6 class="card-title">{{ post.title|slice:"40" }}</h6>
                                            </div>
                                            <small><b>${{ post.get_display_price }}</b></small>
                                        </div>
                                        <div style="text-align: left;">
                                            <h6 class="card-subtitle mb-2 text-muted">{{ post.category }}</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}  
                </div>
                </center>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <br>
                <center>
                <div class="row">
                    {% for category in categories %}
                    <div class="col">
                        <div  class="card">
                            <center>
                            <div class="card-body" style="width: 15rem">
                                <a href="{% url 'category_list' category.pk %}">
                                    <img style="width: 90px; height: auto;" src="{{ category.category_image.url }}" alt="">
                                    <hr>
                                    <small>{{ category.name }}</small>
                                </a>
                            </div>
                            </center>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>
                </center>
            </div>
            <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium minima repellat incidunt facilis obcaecati blanditiis corrupti ad officia doloribus ullam sapiente ipsum, nemo a, excepturi voluptatem voluptatibus velit eum dignissimos ut, nam tempora? Reiciendis illo itaque veritatis eligendi fuga, mollitia ratione totam veniam esse in.</div>
          </div>
    </div>
</section>
{% endblock %}