{% extends '../base.html' %}
{% load static %}
{% block content %}
<section id="" class="container-fluid d-flex align-items-center justify-content-between">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-8">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.category }}
                    <br>
                    {{ form.title }}
                    <br>
                    {{ form.content }}
                    <br>
                    {{ form.detailed_description }}
                    <br>
                    {{ form.image }}
                    <br>
                    {{ form.image2 }}
                    <br>
                    {{ form.image3 }}
                    <br>
                    {{ form.price }}
                    <br>
                    {{ form.is_active }}
                    <br>
                    
                    <input value="Post" type="Submit" class="btn btn-primary">
                </form>
            </div>
            <div class="col-4">
                <br>
                <div class="card">
                    <div class="card-body">
                        <center>
                            <img class="img-thumbnail" src="{{ user.profile.user_image.url }}" alt="" srcset="">
                            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                            <h5>@{{ user.username }}</h5>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}