{% extends '../base.html' %}
{% load static %}
{% block content %}
<section class="container-fluid d-flex align-items-center justify-content-between">
    <div class="container">
        <h3>Password Reset</h3>
        <p>forgot your password? Enter your email address bellow, and we'll email instructions for settings a new one</p>
         <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="Send email">
         </form>
    </div>
</section>
{% endblock %}